.DS_Store
.Spotlight-V100
.Trashes
__pycache__/
*.py[cod]
*.so
htmlcov/
.coverage
.cache
.pytest_cache
coverage.xml
.mypy_cache
*.mo
*.pot
*.sw*
.idea
*.sublime-*
*.log
celerybeat.pid
celerybeat-schedule
.env
